// compose colors

// group of backgrounds and friends
@bg0: #22253d;    // panel&tab&bar bg
@bg1: #2b2f4d;    // normal:gutter bg
@bg2: #313557;    // editor bg = @BackgroundColour
@bg3: #4d5388;    // normal:line number(gutter text), selected:gutter bg | comment

@BackgroundColour: #313557;
@ForegroundColour: #8a6583;
@CursorColour: #8a6583;

@Red: #94536f;
@BoldRed: #d3b1c0;
@Green: #55753c;    // selected:line number(gutter text)
@BoldGreen: #c0d3b1;

@Yellow: #947853;
@BoldYellow: #d3c5b1;
@Blue: #536f94;
@BoldBlue: #b1c0d3;
@Magenta: #785394;
@BoldMagenta: #c5b1d3;
@Cyan: #5f7574;
@BoldCyan: #b1d3c5;
@Orange: #ab632d;
@BoldOrange: #ea8731;
// yet unused
@White: #808080;
@BoldWhite: #a9a9a9;
