
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  line-height: 2.5em;
  height: 2.5em;
  color: @text-color;
  border-top: 1px solid @base-border-color;
  background-color: @tree-view-background-color;

  .inline-block {
    margin: 0;
    padding: 0 .618em;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .status-bar-right {
    .inline-block {
    margin: 0px;
  }
  }
}
