
@scrollbar-color: lighten(@background-color-selected, 16%);
@scrollbar-background-color: @background-color-selected;
@scrollbar-color-editor: lighten(@background-color-selected, 16%);
@scrollbar-background-color-editor: @background-color-selected;

@tree-view-text: 12px;

@indent-guide-improved: lighten(@base-background-color, 23%);
// @syntax-gutter-text-color: lighten(@BackgroundColour, 15%);
// same as gutter text color in syntax theme
@indent-guide-stack: @ForegroundColour;
@indent-guide-active: @Green;
